<div>
    <ul>
        <li>nombre: {{user.firstName}}</li>
        <li>Apellido: {{user.lastName}}</li>
        <li>Fecha de nacimiento: {{user.dateOfBirth}}</li>
        <li>Email: {{user.email}}</li>
        <li>Tipo de usuario: {{user.role}}</li>
    </ul>
</div>